<!doctype html>
<title>Localidades</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <a href="/">Voltar</a>
</nav>
<section class="content">
{% block content %}
<h1>Informações sobre Localidades</h1>
<table>
  <tr>
    <th>
      <b>Cidade</b>
    </th>
    <th>
      <b>Estado</b>
    </th>
  </tr>
  {% for localidade in localidades %}
  <tr>
    <td>
      {{ localidade.Cidade }}
    </td>
    <td>
      {{ localidade.Estado }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

